<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Request System Login Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!-- Add the link to your external CSS file here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/login-styles.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animation.css') }}">
</head>
<body>
<div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
    </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/animation.js') }}"></script>
    <form action="/login" method="post" class="container">
        <h3>Data Request System</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required>

        <button type="submit">Log In</button>
    </form>
</body>
</html>
